table{
  border-collapse: collapse;
  font-weight: 60;
  font-size: 1.2rem;
}
tr:nth-child(odd){
background-color: #f0f0f0;
}
th,td{
  padding: 10px;
  border: solid 2px;
  border-color: #000;
  text-align: left;
}
